<div class="jumbotron jumbotron-fluid text-center bg-dark text-muted" 
     style="margin-top:0%;margin-bottom:5%;border:solid;border-radius:30px;">
    <h1>@Title</h1>
    <h3>@SubTitle</h3>
</div>
@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string SubTitle { get; set; }
}
