
<th>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">
                @ColumTitle
            </span>
        </div>
        <input class="form-control bg-secondary" placeholder="search" @oninput="OnSearchTextChange" value="@Value"/>
    </div>
</th>

@code {

[Parameter]
public string ColumTitle { get; set; }
[Parameter]
public string Value { get; set; }
[Parameter]
public EventCallback<ChangeEventArgs> OnSearchTextChange { get; set; }




}

