
<th>
    <div class="col-10 row">
        @ColumTitle
        <input type="date"class="form-control" placeholder="date" @oninput="OnSearchDateChange" value="@Value" />
    </div>
</th>

@code {

    [Parameter]
    public string ColumTitle { get; set; }
    [CascadingParameter(Name = "ManualUpdateTable")]
    public DateTime Value { get; set; }
    [Parameter]
    public EventCallback<ChangeEventArgs> OnSearchDateChange { get; set; }




}

