@page "/"
<Header Title="Test App" SubTitle="With a connection to a local server running Mongo Db"/>
<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 text-center">
            <p>
                You can easily change the name of the database and table.
                You can also easily make more tables if needed.
                The Mongo db library is made for the .NET core platform so it should work in
                Blazor for sure but if you need to connect to a .NET framework platform it should
                probably be done through some API.
            </p>

        </div>

        @*<ListToDo />*@
    </div>
    <UnsortedTodos />
</div>
